@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pbqinh');
  src:  url('fonts/icomoon.eot?pbqinh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pbqinh') format('truetype'),
    url('fonts/icomoon.woff?pbqinh') format('woff'),
    url('fonts/icomoon.svg?pbqinh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box-enabled:before {
  content: "\e900";
}
.icon-box-opacity:before {
  content: "\e901";
}
.icon-box-color:before {
  content: "\e902";
}
.icon-box-disabled:before {
  content: "\e903";
}
.icon-box-border-circle:before {
  content: "\e904";
}
.icon-box-border-square:before {
  content: "\e905";
}
.icon-text-shadow-color:before {
  content: "\e906";
}
.icon-text-shadow-opacity:before {
  content: "\e907";
}
.icon-text-shadow-border-radius:before {
  content: "\e908";
}
.icon-text-shadow-height:before {
  content: "\e909";
}
.icon-text-shadow-width:before {
  content: "\e90a";
}
